@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #eee4e1;
    padding: 0;
    margin: 0;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #b2967d;
    color: #ecf8f8;
}

.message {
    padding-top: 15px;
    padding-left: 20%;
    padding-right: 20%;
}

.message li {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px grey solid;
    color: #745A44;
    list-style: none;
}